<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Random user API - Get user</title>
    </head>
    <body>
        <form id="form-get-user" action="/get-user" method="post" enctype="application/x-www-form-urlencoded">
            UID<br>
            <input type="text" name="uid" id="uid" />
            <br><br>
            First Name<br>
            <input type="text" name="firstName" id="firstName" />
            <br><br>
            Last Name<br>
            <input type="text" name="lastName" id="lastName" />
            <br><br>
            <input type="submit" id="submit" value="Find"/>
        </form>
    </body>
</html>
